## Campos involucrados

- escuelascercanas
- centroscomercialescercanos
- idzona

## Ideas

- Agregar info externa (transporte cercano? barrios "de moda"?)
- Precio promedio por metro cuadrado seg√∫n zona

In [1]:
#importo las funciones para levantar los dataframes
%run "../../utils/dataset_parsing.ipynb"
#importo las funciones para graficar
%run "../../utils/graphs.ipynb"
df = levantar_datos("../../"+DATASET_RELATIVE_PATH)
df.columns

Index(['id', 'titulo', 'descripcion', 'tipodepropiedad', 'direccion', 'ciudad',
       'provincia', 'antiguedad', 'habitaciones', 'garages', 'banos',
       'metroscubiertos', 'metrostotales', 'idzona', 'lat', 'lng', 'fecha',
       'gimnasio', 'usosmultiples', 'piscina', 'escuelascercanas',
       'centroscomercialescercanos', 'precio', 'mes', 'ano', 'dia'],
      dtype='object')

In [6]:
df["precio_metro_cubierto"] = df["precio"] / df["metroscubiertos"]
df["precio_metro_total"] = df["precio"] / df["metrostotales"]

In [55]:
promedios = df.groupby(["idzona"]).agg({"id": "count", "precio_metro_total": ["mean","std"], "precio_metro_cubierto": ["mean","std"]}).fillna(0).astype(int)
promedios.columns = ["publicaciones", "promedio_metrostotales", "desvio_metrostotales", "promedio_metroscubiertos","desvio_metroscubiertos"]
promedios.index = promedios.index.astype(int)
promedios.head()

,publicaciones,promedio_metrostotales,desvio_metrostotales,promedio_metroscubiertos,desvio_metroscubiertos
idzona,,,,,
22,15,22044,11082,24215,13060
23,26,8136,3078,6918,2533
26,10,5617,2043,6492,1341
27,1,6190,0,7222,0
28,2,6875,4419,5481,1122

In [46]:
promedios.loc[promedios.index == 74]

,publicaciones,promedio_metrostotales,desvio_metrostotales,promedio_metroscubierto,desvio_metroscubiertos
idzona,,,,,
74,3,9250,750,7072,1625

In [63]:
# me quedo con las zonas que tengan m√°s publicaciones
top_100_publicaciones = promedios.sort_values(by="publicaciones", ascending=False).head(100)
top_100_publicaciones.sort_values(by="promedio_metroscubiertos", ascending=False).head(10)

,publicaciones,promedio_metrostotales,desvio_metrostotales,promedio_metroscubiertos,desvio_metroscubiertos
idzona,,,,,
275358,1274,43868,17483,43322,16522
24598,227,42227,14948,43185,14550
24597,263,42195,16639,41557,16244
23771,418,39844,14354,39383,13249
23815,1023,42065,18752,38524,15330
23816,266,35473,14404,36337,14375
23191,599,36041,12998,35528,17345
275338,346,33990,12793,34855,12780
23837,510,35922,18157,33952,25158
23569,863,33050,13602,33536,13364

In [66]:
df.loc[df.idzona==275358]

,id,titulo,descripcion,tipodepropiedad,direccion,ciudad,provincia,antiguedad,habitaciones,garages,...,piscina,escuelascercanas,centroscomercialescercanos,precio,mes,ano,dia,precio_metro_cubierto,precio_metro_totales,precio_metro_total
95,257588,"hermosa casa de oportunidad en polanco, del. m...",4 rec√°maras \nsala \ncocina \ncomedor \n2 ba√±o...,Casa,"Polanco III Secci√≥n, Miguel Hidalgo.",Miguel Hidalgo,Distrito Federal,5.0,4.0,2.0,...,False,True,True,2700000.0,12,2014,17,20769.230769,13500.000000,13500.000000
150,46540,magn√≠fica suite a la venta sobre arqu√≠medes (p...,atenci√≥n inversionistas!! magn√≠fico depto tipo...,Apartamento,ARQU√çMEDES,Miguel Hidalgo,Distrito Federal,5.0,1.0,2.0,...,False,True,True,3800000.0,8,2015,29,63333.333333,63333.333333,63333.333333
165,95548,oferta de departamento,descripci√≥n √∫nica oportunidad inmobiliaria her...,Apartamento,"Polanco, Miguel Hidalgo, distrito federal",Miguel Hidalgo,Distrito Federal,10.0,3.0,2.0,...,False,True,True,3100000.0,4,2015,24,26956.521739,26956.521739,26956.521739
194,241949,precioso depto. en la mejor zona de polanco,"en planta baja, impecable, iluminado, 3 terraz...",Apartamento,SHILLER,Miguel Hidalgo,Distrito Federal,0.0,3.0,3.0,...,False,True,True,9500000.0,7,2015,10,79166.666667,79166.666667,79166.666667
386,112278,"departamento venta polanco, remodelado",excelente departamento remodelado en polanco c...,Apartamento,luis vives,Miguel Hidalgo,Distrito Federal,10.0,2.0,1.0,...,False,True,True,6700000.0,5,2016,17,57758.620690,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238186,91658,"departamento clave en venta en polanco, d.f.,...","excelente departamento en preventa, se entrega...",Apartamento,NaN,Miguel Hidalgo,Distrito Federal,0.0,3.0,2.0,...,False,False,False,10476570.0,3,2013,8,39091.679104,NaN,NaN
238329,298882,arquimedes norma kim2,<p>excelente desarrollo en el corazon de polan...,Apartamento,NaN,Miguel Hidalgo,Distrito Federal,1.0,2.0,2.0,...,False,False,False,10800000.0,2,2015,11,64670.658683,64670.658683,64670.658683
239465,168152,lago meru,"<p>precioso departamento con area de lavado, b...",Apartamento,NaN,Miguel Hidalgo,Distrito Federal,NaN,3.0,2.0,...,False,False,False,2950000.0,12,2013,2,34705.882353,34705.882353,34705.882353
239504,142202,venta departamento en arquimedes,"muy buen departamento de 60 m2, 1 recamara con...",Apartamento,ARQUIMEDES,Miguel Hidalgo,Distrito Federal,5.0,1.0,2.0,...,False,True,True,3800000.0,8,2015,14,63333.333333,63333.333333,63333.333333
239918,236584,"departamento, polanco, miguel hidalgo","<p>en muy buen estado, hay que actualizar coci...",Apartamento,NaN,Miguel Hidalgo,Distrito Federal,NaN,2.0,NaN,...,False,False,False,3500000.0,8,2015,25,24137.931034,NaN,NaN