Cotizaciones

Se buscó información de las cotizaciones del peso mexicano respecto del dolar en el período que se corresponse a los datos de las publicaciones.
El objetivo es analizar si los precios de los inmuebles en dólares se mantienen constantes o si aumentan a medida que avanza el tiempo.

In [4]:
import pandas as pd

#Se carga el df de cotizaciones
cotizaciones = pd.read_csv("../../enunciado/data/cotizacion.csv", dtype={'cotizacion':'float'}, parse_dates=["fecha"])
cotizaciones['dia'] = cotizaciones['fecha'].dt.day
cotizaciones['mes'] = cotizaciones['fecha'].dt.month
cotizaciones['anio'] = cotizaciones['fecha'].dt.year

In [5]:
#Se calcula cotización promedio por mes
cotizaciones_por_mes = cotizaciones.groupby(['anio', 'mes']).agg({'cotizacion':'mean'})
cotizaciones_por_mes = cotizaciones_por_mes.reset_index()
cotizaciones_por_mes

    anio  mes  cotizacion
0   2012    1   13.209137
1   2012    2   12.918510
2   2012    3   12.863155
3   2012    4   13.191150
4   2012    5   13.659909
5   2012    6   13.604395
6   2012    7   13.254914
7   2012    8   13.170191
8   2012    9   12.973638
9   2012   10   13.011255
10  2012   11   13.147762
11  2012   12   13.019785
12  2013    1   12.724495
13  2013    2   12.769805
14  2013    3   12.603817
15  2013    4   12.495776
16  2013    5   12.582588
17  2013    6   12.950720
18  2013    7   12.683148
19  2013    8   12.922961
20  2013    9   12.837600
21  2013   10   12.840118
22  2013   11   12.930650
23  2013   12   12.891455
24  2014    1   13.285652
25  2014    2   13.239810
26  2014    3   13.222843
27  2014    4   13.179295
28  2014    5   13.059386
29  2014    6   13.096020
30  2014    7   13.074800
31  2014    8   13.161033
32  2014    9   13.294116
33  2014   10   13.433920
34  2014   11   13.524000
35  2014   12   14.146968
36  2015    1   15.095175
37  2015    2   15.321983
38  2015    3   15.460090
39  2015    4   15.530927
40  2015    5   15.413314
41  2015    6   15.540852
42  2015    7   16.001522
43  2015    8   16.372910
44  2015    9   16.394800
45  2015   10   16.308835
46  2015   11   16.373758
47  2015   12   16.607462
48  2016    1   18.456500
49  2016    2   18.433739
50  2016    3   17.915517
51  2016    4   17.736114
52  2016    5   18.472223
53  2016    6   18.684136
54  2016    7   18.609077
55  2016    8   18.424835
56  2016    9   19.247333
57  2016   10   18.725780
58  2016   11   19.690976
59  2016   12   19.756064

In [ ]:
#Se carga el df de publicaciones
%run "../../utils/dataset_parsing.ipynb"

publicaciones = levantar_datos("../../" + DATASET_RELATIVE_PATH)

In [ ]:
#Se agrega la columna mes_anio tanto en el df de cotizaciones como en el df de publicaciones para poder joinear
cotizaciones_por_mes['anio_mes'] = cotizaciones_por_mes['anio'].astype('str') + cotizaciones_por_mes['mes'].astype('str').str.zfill(width=2)
publicaciones['anio_mes'] = publicaciones['ano'].astype('str') + publicaciones['mes'].astype('str').str.zfill(width=2)

In [ ]:
#Se joinea y se calcula el precio_en_dolares de las propiedades
publicaciones = pd.merge(publicaciones, cotizaciones_por_mes, on='anio_mes')
publicaciones['precio_en_dolares'] = publicaciones['precio'] / publicaciones['cotizacion']
publicaciones[['precio', 'precio_en_dolares', 'cotizacion']]

In [ ]:
precio_promedio_en_dolares = publicaciones.groupby(['ano','mes_x']).agg({'precio_en_dolares':'mean'})

In [ ]:
precio_promedio_en_dolares.plot(figsize=(18,12))

In [ ]:
precio_promedio_en_pesos_mexicanos = publicaciones.groupby(['ano','mes_x']).agg({'precio':'mean'})

In [ ]:
precio_promedio_en_pesos_mexicanos.plot(figsize=(18,12))

In [ ]:
cotizaciones_por_anio_mes = cotizaciones_por_mes.set_index(['anio', 'mes'])['cotizacion']

In [ ]:
cotizaciones_por_anio_mes.plot(figsize=(15,15))

En los últimos dos gráficos se observa que tanto la cotización del dólar como el valor de los inmuebles fue aumentando en el tiempo.